.billContainer {
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box {
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8f8f8;
  float: right;
  width: 35%;
  border-radius: 32px 0px 0px 32px;
  padding: 32px;
}
.orderBox {
  width: 40%;
}
.section {
  margin: 16px;
  font-weight: 600;
}
.statusButton {
  background-color: #ffd049;
  float: right;
  color: black;
  width: 120px;
  border-radius: 4px;
  padding: 2px;
}
.divider {
  padding: 8px;
  margin-bottom: 16px;
}
.row {
  padding: 64px;
  font-weight: bold;
}
.tableHeader {
  font-weight: bolder;
  opacity: 0.8;
}

