.customButton {
  width: 100%;
  background-color: #ffd049;
  height: 2.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  color: #000;
  text-transform: capitalize;
  box-shadow: none;
  font-family: 'Gilory-SemiBold';
}
