// /* styles/SidePanel.scss */
// .sidePanel {
//   width: 250px; // Adjust width as needed
//   height: 100vh; // Make it full height
//   position: fixed; // Fix it to the viewport
//   top: 0;
//   left: 0;
//   border-right: 1px solid #ccc; // Optional: add border
//   overflow-y: auto;
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   .navContainer {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     margin-top: 1.5rem;
//     width: 100%;
//     .navTab {
//       width: 90%;
//       padding: 1rem;
//       &.active {
//         background-color: #ffd049;
//         border-radius: 10px;
//       }
//       .icon {
//         min-width: 35px;
//       }
//     }
//   }

//   .profile {
//     width: 80%;
//     padding: 0.9rem 0.5rem;
//     position: absolute;
//     bottom: 2rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     border-radius: 30px;
//     .avatar {
//       margin-bottom: 0.2rem;
//       height: 80px;
//       width: 80px;
//     }
//     .name {
//       font-weight: 600;
//       line-height: 1.9rem;
//       font-size: 1.2rem;
//       font-family: "Gilory-SemiBold";
//     }
//     .designation {
//       margin-bottom: 0.5rem;
//       color: #a69e9e;
//     }
//     .profileBtn {
//       display: flex;
//       width: 80%;
//     }
//   }
// }
.sidePanelContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  // overflow: auto;
  .tabContainer {
    padding: 1rem;
    .tabBtn {
      padding: 0.6rem 1rem;
      margin-bottom: 1rem;
      color: #000;
      &:global(
          .mui-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected
        ) {
        background-color: #ffd049;
        border-radius: 10px;
      }
      .icon {
        color: #000;
       >span>span{
        background-color: #c3040a ;
        font-family: 'Gilory-SemiBold';
       }
      }
      .tabTxt {
        font-size: 1rem;
        font-family: "Gilory-SemiBold";
      }
    }
  }
  .profileSection {
    position: absolute;
    bottom: 2rem;
    // padding: 1rem;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    .profileCard {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 1rem;
      // height: 12rem;
      border-radius: 10px;
      .avatar {
        height: 5rem;
        width: 5rem;
      }
      .profileName {
        font-size: 1rem;
        font-family: "Gilory-SemiBold";
        margin: 0.1rem 0;
        text-align: center;
      }
      .desig{
        text-align: center;
      }
      .profileBtn {
        text-transform: capitalize;
        background-color: #ffd049;
        font-size: 1rem;
        font-family: "Gilory-SemiBold";
        color: #000;
        padding: 0.5rem;
        width: 100%;
        margin: 0.5rem 0;
        border-radius: 10px;
      }
    }
  }
}
